<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta charset="utf-8"/><meta content="IE=edge" http-equiv="X-UA-Compatible"/><meta content="width=device-width, initial-scale=1" name="viewport"/>

        <title>Purdue University: Department of Mathematics: Antiracism Reading Group</title>
        
                

		<!-- Favicon -->
        <link href="https://www.purdue.edu/purdue/images/favicon.ico" rel="shortcut icon"/>

		<!-- CSS -->
		<link href="https://www.purdue.edu/purdue/fonts/united-sans/united-sans.css" rel="stylesheet"/>
<link href="https://use.typekit.net/ghc8hdz.css" rel="stylesheet"/>
<link href="https://www.purdue.edu/purdue/fonts/champion-all.css" rel="stylesheet" type="text/css"/>
<link href="https://fonts.googleapis.com/css?family=Archivo+Narrow:400,700|Archivo+Black" rel="stylesheet"/>
        
<script src="https://use.fontawesome.com/a5992bcfed.js"></script>
<noscript>
	<link href="https://use.fontawesome.com/daeafc3302.css" rel="stylesheet"/>
</noscript>
		<link href="https://math.purdue.edu/css/content-math.css" rel="stylesheet" type="text/css"/> 
        <link href="https://math.purdue.edu//css/styles-new.css" rel="stylesheet" type="text/css"/>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
		    <style type="text/css">
        /* Any CSS placed in this text area will be placed inside of a style tag located in the head section of the page. */
	</style>

        
        <!--[if IE 9]>
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <![endif]-->

        <script async="true" src="https://www.purdue.edu/purdue/globals/js/modernizr-1.5.min.js" type="text/javascript"></script>
<script src="https://www.purdue.edu/purdue/js/jquery-1.10.2.min.js" type="text/javascript"></script>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
	<script src="//www.purdue.edu/purdue/js/html5shiv.js"></script>
	<script src="//www.purdue.edu/purdue/js/respond.min.js"></script>
<![endif]-->
        
        <!-- Google Tag Manager -->
<script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&amp;l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WHFBN63');
</script>
<!-- End Google Tag Manager -->
		<span></span><!-- Google Analytics: GA4 and UA -->

<script async src="https://www.googletagmanager.com/gtag/js?id=G-GBN6VF2VV7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-GBN6VF2VV7');
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-69462176-1', 'auto');
  ga('send', 'pageview');

</script>

	</head>
    
	<body>  
        <!-- Google Tag Manager (noscript) -->
<noscript>
	<iframe height="0" src="https://www.googletagmanager.com/ns.html?id=GTM-WHFBN63" style="display:none;visibility:hidden" width="0"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
        
        <header class="header">
    
    	    <!-- Begin Gold Bar -->
    		<nav class="navbar navbar-inverse goldbar">
    			<div class="container">
    				<div class="navbar-header">
    					<button class="navbar-toggle left" data-target=".gold" data-toggle="collapse" type="button">
    						<span class="icon-bar"></span>
    						<span class="icon-bar"></span>
    						<span class="icon-bar"></span> Quick Links
    					</button>
    					<button class="navbar-toggle search right" data-target="#search" data-toggle="collapse" type="button"> 
    						<i class="fa fa-search fa-lg"></i> 
    					</button>
    				</div>
    				<div class="collapse navbar-collapse right search" id="search">
    					<ul class="nav navbar-nav navbar-right">
    						<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" title="Site search"><i class="fa fa-search fa-lg"></i></a>
    							<ul class="dropdown-menu">
    								<li>
    									<div class="form-group">
    										<span></span>
<script>
    (function() {
        var cx = '017690826183710227054:mjxnqnpskjk';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
    })();
</script>

<gcse:searchbox-only id="cse-search-form" resultsUrl="https://www.math.purdue.edu/results.html" queryParameterName="q">
Loading
</gcse:searchbox-only>

    									</div>
    								</li>
    							</ul>
    						</li>
    					</ul>
    				</div>
    				<div class="collapse navbar-collapse gold">
    					<ul class="nav navbar-nav information">
    						<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Find Info For <b class="caret"></b></a>
    							<ul class="dropdown-menu"><p class="hide">Find Info For</p>
<li><a href="https://www.purdue.edu/purdue/academics/index.php">Academics</a></li>
<li><a href="https://www.purdue.edu/purdue/admissions/index.php">Admissions</a></li>
<li><a href="https://www.purdue.edu/purdue/current_students/index.php">Current Students</a></li>
<li><a href="https://www.purdue.edu/purdue/athletics/index.php">Athletics</a></li>
<li><a href="https://www.purdue.edu/purdue/about/index.php">About</a></li>
<li><a href="https://www.purdue.edu/purdue/careers/index.php">Careers</a></li>
<li><a href="https://www.purdue.edu/purdue/prospective_students/index.php">Prospective Students</a></li>
<li><a href="https://www.purdue.edu/purdue/research/index.php">Research and Partnerships</a></li>
</ul>
    						</li>
    					</ul>
    					<ul class="nav navbar-nav right quicklinks"><p class="hide">Quick Links</p>
<li><a href="http://www.purdue.edu/purdue/admissions/index.php#linksRow">Apply</a></li>
<li><a href="http://www.purdue.edu/newsroom/index.html">News</a></li>
<li><a href="http://www.purdueofficialstore.com/index.html">Shop</a></li>
<li><a href="http://www.purdue.edu/visit/index.html">Visit</a></li>
<li><a href="https://connect.phttps://connect.purdue.edu/s/givenow?dids=RF0033&amp;sort=1&amp;appealcode=10727">Give</a></li>
<li><a href="http://www.purdue.edu/emergency/index.html">Emergency</a></li>
</ul>
    				</div>
    			</div>
    		</nav>
    
    	    <!-- Begin Top Section -->
            <section class="top">
                <div class="container">
                    <div class="row">
                        <div class="logo col-lg-3 col-md-3 col-sm-4 col-xs-12">
                            <a class="svgLinkContainer" href="https://www.purdue.edu">
								<img alt="PURDUE!!!" src="https://www.purdue.edu/purdue/images/PU-H.svg"/>
                            </a>
                        </div>
                        <div class="department col-lg-9 col-md-9 col-sm-8 col-xs-12">
                            <a href="https://math.purdue.edu/index.html" title="Purdue Math">
                                Department of Mathematics
                            </a>
                        </div>
                    </div>
                </div>
            </section>
    
    	    <!-- Begin Main Navigation -->
    		<nav class="navbar navbar-inverse blackbar">
    			<div class="container">
    				<div class="navbar-header">
    					<button class="navbar-toggle" data-target=".black" data-toggle="collapse" type="button">
    						<span class="icon-bar"></span>
    						<span class="icon-bar"></span>
    						<span class="icon-bar"></span> Menu
    					</button>
    				</div>
    				<div class="collapse navbar-collapse black">
    					<ul class="nav navbar-nav">
<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="https://math.purdue.edu/about/index.html">About Us <span class="caret"></span> </a>
<ul class="dropdown-menu">
<li><a href="https://math.purdue.edu/about/index.html">About Us</a></li>
<li><a href="https://math.purdue.edu/about/diversity.html">Diversity Statement</a></li>
<li><a href="https://math.purdue.edu/jobs/index.html">Job Listings</a></li>
<li><a href="https://math.purdue.edu/about/news.html">PUrview Newsletter</a></li>
<li><a href="https://math.purdue.edu/people/alumni/index.html">Giving to Mathematics</a></li>
</ul>
</li>
<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="https://math.purdue.edu/people/index.html"> People <span class="caret"></span> </a>
<ul class="dropdown-menu">
<li><a href="https://math.purdue.edu/people/faculty.html">Faculty</a></li>
<li><a href="https://math.purdue.edu/people/visiting-instructors.html">Visiting Instructors</a></li>
<li><a href="https://math.purdue.edu/people/emeritus.html">Emeritus Faculty</a></li>
<li><a href="https://math.purdue.edu/people/visiting.html">Visiting Scholars</a></li>
<li><a href="https://math.purdue.edu/people/lecturer.html">Lecturers</a></li>
<li><a href="https://math.purdue.edu/people/gradstudents.html">Graduate Students</a></li>
<li><a href="https://math.purdue.edu/people/staff.html">Administration and Staff</a></li>
<li><a href="https://math.purdue.edu/people/studentorgs.html">Student Organizations</a></li>
</ul>
</li>
<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="https://math.purdue.edu/academic/index.html"> Programs <span class="caret"></span> </a>
<ul class="dropdown-menu">
<li><a href="http://www.purdue.edu/purdue/admissions/index.php#linksRow"> Apply</a></li>
<li><a href="https://math.purdue.edu/academic/undergrad/index.html">Undergraduate</a></li>
<li><a href="https://math.purdue.edu/academic/grad/index.html">Graduate</a></li>
<li><a href="https://math.purdue.edu/academic/actuary/index.html">Actuarial</a></li>
<li><a href="https://math.purdue.edu/academic/applied.html">Applied Math</a></li>
<li><a href="https://mathalliance.org/">National Math Sciences Alliance</a></li>
</ul>
</li>
<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="https://math.purdue.edu/academic/courses/semester/"> Courses <span class="caret"></span> </a>
<ul class="dropdown-menu">
<li><a href="https://math.purdue.edu/academic/courses/semester/">Course Pages</a></li>
<li><a href="https://math.purdue.edu/academic/courses/schedule.html">Schedules</a></li>
<li><a href="https://math.purdue.edu/academic/courses/Exam-Schedules.html">Exam Schedules</a></li>
<li><a href="https://math.purdue.edu/academic/courses/Course-Description.html">Course Descriptions</a></li>
<li><a href="https://math.purdue.edu/academic/courses/textbook.html">Textbook Listing</a></li>
<li><a href="https://math.purdue.edu/academic/courses/grad.html">Graduate Course Descriptions</a></li>
<li><a href="https://math.purdue.edu/academic/tutor/index.html">Tutor List</a></li>
<li><a href="https://math.purdue.edu/academic/courses/oldexams.php">Past Exam Archive</a></li>
<li><a href="https://math.purdue.edu/academic/courses/semester/semesters">Past Course Archive</a></li>
</ul>
</li>
<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="https://math.purdue.edu/resources/index.html"> Resources <span class="caret"></span> </a>
<ul class="dropdown-menu">
<li><a href="https://math.purdue.edu/resources/index.html">Outside Resources</a></li>
<li><a href="https://math.purdue.edu/resources/internal/index.html">Internal Resources</a></li>
<li><a href="https://math.purdue.edu/resources/computing/index.html">Computing Information</a></li>
<li><a href="https://math.purdue.edu/resources/quick-links.html">Quick Links</a></li>
<li><a href="https://math.purdue.edu/resources/business/index">Business Office</a></li>
<li><a href="https://math.purdue.edu/resources/gta.html">Information for TAs and <br/>Limited Term Lecturers </a></li>
<li><a href="https://math.purdue.edu/resources/faculty.html">Information for Faculty</a></li>
<li><a href="https://math.purdue.edu/resources/ada.html">Instructor procedures for <br/>Students with Disabilities </a></li>
</ul>
</li>
<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="https://math.purdue.edu/research/index.html"> Research <span class="caret"></span> </a>
<ul class="dropdown-menu">
<li><a href="https://math.purdue.edu/people/faculty.html">Faculty Research Areas</a></li>
<li><a href="http://ccam.math.purdue.edu/">Center for Computational <br/> &amp; Applied Mathematics </a></li>
<li><a href="https://math.purdue.edu/research/funding.html">Funding Opportunities</a></li>
<li><a href="https://www.purdue.edu/research/researchatpurdue/">Research at Purdue </a></li>
<li><a href="https://math.purdue.edu/research/undergraduate.html">Undergraduate Research</a></li>
</ul>
</li>
<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="https://math.purdue.edu/calendar/index.html">Calendar <span class="caret"></span> </a>
<ul class="dropdown-menu">
<li><a href="https://math.purdue.edu/calendar/index.html">Seminar Calendar</a></li>
<li><a href="https://math.purdue.edu/calendar/mathiskey/index.html">Math Is Key Public Lecture Series</a></li>
<li><a href="https://math.purdue.edu/calendar/rubin/index.html">Women in Math Day, Jean E. Rubin <br/> Memorial Lecture </a></li>
<li><a href="https://math.purdue.edu/calendar/conferences/index.html">Upcoming Conferences</a></li>
</ul>
</li>
</ul>
    				</div>
    			</div>
    		</nav>
    		
    	</header>	

<!--
    
	    <!-- Begin Breadcrumbs - ->
		<section class="breadcrumb">
			<div class="container">
				<div class="row">
					 
<div id="breadcrumbs">
<ol class="col-lg-12 col-md-12 col-sm-12">
    <li>
            
            
        
                <a href="https://math.purdue.edu/">Home</a> 
        </li>
    <li>
            
            
        
                                    <a href="https://math.purdue.edu/about/">About Us</a> 
            </li><li>
                        
                                    Commitment to Diversity
                </li>
</ol>
</div>
				</div>
			</div>
		</section>
-->		
		
		<div class="content deptAlert">
	<div class="container">
		<div class="row" style="padding:0;">
			<div class="col-md-12">
                <aside>
					<p><a href="https://protect.purdue.edu/">The most up-to-date information on Purdue University's response to COVID-19.</a>
				    Purdue COVID-19 Information Center, 765-496-INFO (4636) or toll-free 1-833-571-1043, M-F, 8a-8p. Answers to questions regarding housing, financial aid, remote learning, and more.</p>
				</aside>
			</div>
		</div>
	</div>
</div>		
    
	    <!-- Begin Main Content -->
		<main class="content" id="main">
			<div class="container">
				<div class="row">
					<div class="maincontent col-lg-9 col-md-9 col-sm-9 col-xs-12 right"> 
                        
{{ content }}
						
					</div>					 
				    <div class="sidenav col-lg-3 col-md-3 col-sm-3 col-xs-12">
    					<ul>
<li><a href="/">Antiracism Reading Group</a></li>
<li><a href="/reading_list">Reading List</a></li>
</ul>
					</div>
				</div>
			</div>
		</main>
    
	    <!-- Begin Footer -->
		<footer class="footer">
			<div class="container">
				<div class="row panel-group" id="accordion">
					<div class="panel panel-default">
						<div class="panel-heading">
<h4 class="panel-title"><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#footerone">Communication <i class="fa fa-plus right"></i><i class="fa fa-minus right"></i> </a></h4>
</div>
<div class="panel-collapse collapse" id="footerone">
<div class="panel-body">
<ul>
<li><a href="https://one.purdue.edu" rel="noopener" target="_blank">OneCampus Portal</a></li>
<li><a href="https://purdue.brightspace.com/">Brightspace</a></li>
<li><a href="https://www.purdue.edu/boilerconnect/">BoilerConnect</a></li>
<li><a href="http://portal.office.com/">Office 365</a></li>
<li><a href="https://outlook.office.com/">Outlook</a></li>
<li><a href="https://mypurdue.purdue.edu">myPurdue</a></li>
</ul>
</div>
</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
<h4 class="panel-title"><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#footertwo">Campus <i class="fa fa-plus right"></i><i class="fa fa-minus right"></i> </a></h4>
</div>
<div class="panel-collapse collapse" id="footertwo">
<div class="panel-body">
<ul>
<li><a href="https://www.purdue.edu/purdue/faculty_staff/index.php">Faculty and Staff</a></li>
<li><a href="https://www.purdue.edu/hr/">Human Resources</a></li>
<li><a href="https://www.purdue.edu/purdue/careers/index.php">Careers</a></li>
<li><a href="https://www.purdue.edu/purdue/about/colleges_schools.php">Colleges and Schools</a></li>
<li><a href="https://www.purdue.edu/directory/" rel="noopener" target="_blank">Directory</a></li>
<li><a href="https://www.purdue.edu/campus-map/">Campus Map</a></li>
</ul>
</div>
</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
<h4 class="panel-title"><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#footerthree">Resources <i class="fa fa-plus right"></i><i class="fa fa-minus right"></i></a></h4>
</div>
<div class="panel-collapse collapse" id="footerthree">
<div class="panel-body">
<ul>
<li><a href="https://math.purdue.edu/resources/index.html"> Internal Resources </a></li>
<li><a href="https://www.purdue.edu/science/about/business-office/index.html"> Business Office </a></li>
<li><a href="https://math.purdue.edu/resources/gta.html"> Information for TAs and Limited Term Lecturers </a></li>
<li><a href="https://math.purdue.edu/resources/faculty.html"> Information for Faculty </a></li>
<li><a href="https://math.purdue.edu/resources/ada.html"> Instructor procedures for Students with Disabilities </a></li>
</ul>
</div>
</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
<h4 class="panel-title"><a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#footerfour">Faculty &amp; Staff <i class="fa fa-plus right"></i><i class="fa fa-minus right"></i> </a></h4>
</div>
<div class="panel-collapse collapse" id="footerfour">
<div class="panel-body">
<ul>
<li><a href="https://math.purdue.edu/people/index.html">People</a></li>
<li><a href="https://math.purdue.edu/people/faculty.html">Faculty</a></li>
<li><a href="https://math.purdue.edu/people/staff.html">Staff</a></li>
<li><a href="https://math.purdue.edu/people/gradstudents.html">Graduate Students</a></li>
</ul>
</div>
</div>
					</div>
                    <div class="motto col-lg-4 col-md-4 col-sm-6">
                        
                        <div class="taglineContainer">
	<div class="tagline">
		<a href="https://www.purdue.edu/science/">
			<img alt="Purdue University College of Science" src="https://www.purdue.edu/science/images/assets/Science_V-Full-Reverse-RGB.png"/>
		</a>
	</div>
</div>
                        
                        <div class="social">
                            <a href="https://www.facebook.com/purduemath" rel="noopener" target="_blank" title="Purdue Mathematics on Facebook"> <i class="fa fa-facebook"></i> </a> <a href="https://www.youtube.com/user/CoSPurdue" rel="noopener" target="_blank" title="Purdue College of Science on YouTube"> <i class="fa fa-youtube"></i> </a>
                        </div>
                        
                    </div>
				</div>
			</div>
		</footer>
    
	    <!-- Begin Bottom Signature -->
		<section class="bottom">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<p>Department of Mathematics, Purdue University, 150 N. University Street, West Lafayette, IN 47907-2067</p>
<p>Phone: (765) 494-1901 - FAX: (765) 494-0548 &#160;<a href="contact.html">Contact Us</a></p>
<p><a href="https://www.purdue.edu/purdue/disclaimer.php">&#169; 2022 Purdue University</a> | <a href="https://www.purdue.edu/purdue/ea_eou_statement.php">An equal access/equal opportunity university</a> | <a href="https://www.purdue.edu/securepurdue/security-programs/copyright-policies/reporting-alleged-copyright-infringement.php">Copyright Complaints</a></p>
<p>Trouble with this page? Disability-related <a href="http://www.purdue.edu/disabilityresources/">accessibility issue</a>? Please contact the <a href="mailto:sciencehelp@purdue.edu">College of Science</a>.</p>
<p><a href="https://www.purdue.edu/science/scienceit/">Maintained by Science IT</a></p>
					</div>
				</div>
			</div>
		</section>
    
        <script src="https://www.purdue.edu/purdue/js/bootstrap.min.js"></script>
		 
	</body>
</html>